<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>quackbox2.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>4E48A0881EC0CFBE00C496F3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4E48A09C1EC0CFBE00C496F3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4E48A0A71EC0CFBE00C496F3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
